* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
}

body {
    height: 100%;
}

nav.menu {
    width: 300px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.884);
    padding: 40px 0px 40px 1%;
}

.barra {
    width: 100%;
    padding-left: 10px;

}

.barra>i {
    font-size: 24px;
    color: white;
    cursor: pointer;
}
ul{
    height: 100%;
    list-style-type: none;
}
 .item a{
color: white;
text-decoration: none;
padding: 20px 4%;
display: flex;
}