* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fantasy;
}

body {
  height: 100%;
  background-color: rgb(34, 34, 34);
  margin-left: 7%;
  color: white;
}

nav.menu {
  width: 70px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.884);
  padding: 40px 0px 40px 1%;
  box-shadow: 6px 0 0 #580606;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 1s;
}
nav.menu:hover{
width: 300px;
}
.barra {
  width: 100%;
  padding-left: 10px;
}

.barra > i {
  font-size: 24px;
  color: rgb(211, 72, 72);
  cursor: pointer;
}
ul {
  font-family: fantasy;
  height: 100%;
  list-style-type: none;
}
.item a {
  color: rgb(211, 72, 72);
  text-decoration: none;
  padding: 20px 4%;
  display: flex;
  margin-bottom: 20px;
}
.item a .text {
  margin-left: 40px;
}
.item a .icon > i {
  font-size: 30px;
}
.item:hover {
  background: #720707;
}
.item {
  transition: 0.1s;
}
.icon{
    margin-left: 2px;
}
*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: normal;
    gap: 20px;
    width: 100%;
    height: 200px;
}
img{
    border-radius: 10cap;
    height: 200px;
    width: 200px;
}
.fc{
    line-height: 20px;
}
main{
    column-count: 2;
    column-gap: 10px;
}
ul{ 
    list-style: none;
    padding: 5px;
}
h1{
    align-content: flex-end;

}
p{
  font-size: large;
  font-family: fantasy;
  
}
.l{
  font-size: x-large;
}
.h{
  font-size: large;
  font-family: fantasy; 
  padding: 5px;
}
.lo{
    width: 10vh;
  height: 10vh;
  display: flex;
  justify-content:flex-start;
 margin-left: -1.5vw;  
 transition: 1s;
}
.lo:hover{
  width: 10vh;
  height: 10vh;
  margin-left:5vh ;
}