* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fantasy;
}

body {
  height: 100%;
  background-color: rgb(33, 31, 31);
}

nav.menu {
  width: 70px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.884);
  padding: 40px 0px 40px 1%;
  box-shadow: 6px 0 0 #580606;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 1s;
}

nav.menu:hover {
  width: 300px;
}

.barra {
  width: 100%;
  padding-left: 10px;
}

.barra>i {
  font-size: 24px;
  color: rgb(211, 72, 72);
  cursor: pointer;
}

ul {
  height: 100%;
  list-style-type: none;
}

.item a {
  color: rgb(211, 72, 72);
  text-decoration: none;
  padding: 20px 4%;
  display: flex;
  margin-bottom: 20px;
}

.item a .text {
  margin-left: 40px;
}

.item a .icon>i {
  font-size: 30px;
}

.item:hover {
  background: #720707;
}

.item {
  transition: 0.1s;
}

.icon {
  margin-left: 2px;
}

div {
  margin-left: 16%;
}

h1 {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  font-family: fantasy;
  color: white;
}
div{
  columns: 2;
  width: 90%;
  
}
footer{
  height: 40%;
  width: 100%;

  background-color: #720707;
}
.con{
  margin-left: 80px;
  color: white;
  
}