* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  height: 100%;
  background-color: rgb(34, 32, 32);
}

header {
  width: 100%;
  height: 10%;
  background-color: rgba(35, 31, 31, 0.884);
  box-shadow: 0px 6px 0 #580606;
}

.titu {
  width: 150px;
  margin-left: 45%;
}

nav.menu {
  width: 70px;
  height: 100vh;
  background-color: rgba(39, 38, 38, 0.884);
  padding: 40px 0px 40px 1%;
  box-shadow: 6px 0 0 #580606;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 1s;
}

nav.menu:hover {
  width: 300px;
}

.barra {
  width: 100%;
  padding-left: 10px;
}

.barra>i {
  font-size: 24px;
  color: rgb(211, 72, 72);
  cursor: pointer;
}

ul {
  font-family: fantasy;
  height: 100%;
  list-style-type: none;
}

.item a {
  color: rgb(211, 72, 72);
  text-decoration: none;
  padding: 20px 4%;
  display: flex;
  margin-bottom: 20px;
}

.item a .text {
  margin-left: 40px;
}

.item a .icon>i {
  font-size: 30px;
}

.item:hover {
  background: #720707;
}

.item {
  transition: 0.1s;
}

.icon {
  margin-left: 2px;
}

.descricao {
  width: 30%;
  height: 20%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 3px solid rgb(88, 10, 10);
  border-radius: 5px;
  box-shadow: 5px 5px 5px #580606a6;
  margin-top: 20px;
  margin-left: 180px;
  padding: 5px;
  font-size: large;
  color: rgb(234, 238, 242);
}

.video {
  width: 32%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 3px solid rgb(31, 23, 23);
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px #580606a6;
  margin-top: 20px;
  margin-left: 90px;
  padding: 5px;
}

.a {
  display: flex;
}

main {
  width: 100%;
  height: 80vh;
}

footer {
  height: 40%;
  width: 100%;

  background-color: #720707;
}

.con {
  margin-left: 80px;
  color: white;
  border: 1px solid black;

}